@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat, sans-serif';
}

body {
  /* background: #e2e8f0; */
  background: #FEFFDE;
}
.container {
  margin: 0 auto;
  max-width: 1500px;
  /* max-width: 100%; */
  padding: 50px 0;
  text-align: center;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: -10px 0;
  color: #000;
}

table {
  width: 100%;
  margin-top: 50px;
  background: #DDFFBC;
  /* border-radius: 10px; */
  /* text-align: center; */
}

/* .content:nth-last-of-type(odd) {
  background: #91C788;
  border-radius: 10px;
} */

.content {
  background: #91C788;
  border-radius: 10px;
}
table,
table tr,
table th,
table td {
  border-collapse: collapse;
  /* border: 1px solid #EEEEEE; */
  border: none;
  /* background: #333;
  color: #ffff; */
  /* border-radius: 10px; */
  /* width: 100%; */
}
th, td {
  padding: 10px;
  /* width: 80%; */
}
table, table thead tr th {
  /* color: #777; */
  color: #333;
  /* font-size: 20px; */
  padding: 30px 20px;
  /* width: 150px; */
}
table tr:nth-child(odd) td {
  background: #C9F4AA;
}
/* table, tr thead th {
  background: #333;
  color: #777;
  padding: 30px;
  border-radius: 10px;
} */
table, table thead th, table tbody {
  border-radius: 10px;
  /* color: #777; */
  padding: 30px 25px;
  font-size: 18px;
  /* width: 100%; */
}

.btn-control {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.checkDetail {
  display: flex;
  justify-content: flex-end;
  /* width: 230px; */
  width: 100%;
  /* margin-left: 85%; */
}

.btn-confirm {
  width: 100px;
  height: 40px;
  /* background: #1abc9c; */
  background: #52734D;
  color: #111;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.btn-cancel {
  width: 100px;
  height: 40px;
  background: #e54438;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.btn-pay {
  width: 100px;
  height: 40px;
  background: #2E86C1;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnShowConfirm {
  width: 120px;
  height: 40px;
  background: #7DCE13;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
}

.btnShowCancel {
  width: 125px;
  height: 40px;
  background: #EAE509;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}

.btnInvoice {
  width: 120px;
  height: 40px;
  background: #19A7CE;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 25px;
}

.btn-logout {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  background: #e54438;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90%;
}

/* Hover table */
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}

/* Navbar */

.menu {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* max-width: 100%; */
  /* max-width: 1100px; */
  margin: 0 auto;
  /* margin: 50px 0; */
  height: 100px;
  list-style: none;
  /* background: linear-gradient(to right, #020024, #374a42, #00d4ff); */
  background: #DDFFBC;
  padding-right: 50px;
}

.menu li {
  width: 170px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  /* padding-top: 10px; */
  padding: 15px 0;
  /* background: linear-gradient(166deg, rgba, #020024, #374a42, #00d4ff); */
}
.menu li a {
  font-size: 22px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
  /* background: linear-gradient(166degree, rgba, #020024, #374a42, #00d4ff); */
}
.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
          animation: line 1s;
}
.menu li:hover a {
  color: #d94f5c;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
.baner {
  margin-top: 15px;
  /* margin-left: 5px; */
  padding-right: 200px;
}

  /* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 40px;
}

ul {
  margin: 20px 30px;
}

ul li.pagination-page {
  display: inline-block;
  margin: 0 10px;
  background: #fff;
  background-image: linear-gradient(#ff4568, #ff4568);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}

.btnPrev, .btnNext {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 250;
  color: #383838;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.btnPrev img {
  width: 20px;
  margin-right: 15px;
}

.btnNext img {
  width: 20px;
  margin-left: 15px;
  transform: rotate(180deg);
}

.btn-pagination {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.number-pagination {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #f2f2f2;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}

.active-pagination {
  background: #FF2B56;
  color: #fff;
}

a {
  text-decoration: none;
}

.checkbox {
  border-radius: 20px;
  width: 15px;
  height: 15px;
}

 /* NameUser */
 .nameUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin: -10px -60px;
  color: #000;
  font-size: 1.5rem;
}